# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
prof
.pytest_cache

# Translations
*.mo
*.pot

# logs:
*.log

# profile
*.prof

# Sphinx documentation
docs/_build/*

# PyBuilder
target/

# pyenv python configuration file
.python-version

# pycharm
.idea

# Ipython stuff
.ipynb_checkpoints

# linux/osx garbage
*~
*.swp
.DS_store*

# wavebank specifics
tests/test_data/TA_archive/TA/*
.index.h5
tests/test_data/kem_archive/TA/*
tests/test_data/kem_archive/stations/*

# test data sets
obsplus/datasets/**/waveforms
obsplus/datasets/**/event_waveforms
obsplus/datasets/**/stations
obsplus/datasets/**/events
obsplus/datasets/**/.index
obsplus/datasets/**/readme.txt
obsplus/datasets/**/.version
obsplus/**/*.mseed
profiling/**/*.mseed
tests/test_data/test_grid_inputs/.~*


# shelve stuff
*.dat
*.dir
*.bak

# copied datasets in directory folder
docs/api
docs/quickref/stubs

# dataset path files
.dataset_data_path.txt

# mypy
.mypy_cache
