language: c

matrix:
  include:
    - os: linux
      env: PYTHON_VERSION=3.6
    - os: linux
      env: PYTHON_VERSION=3.7

install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda config --add channels conda-forge
  - conda update -q conda
  - conda info -a
  - conda create -q -n test-environment python=$PYTHON_VERSION pytest obspy pandas xarray pytables
  - source activate test-environment
  - pip install -r tests/requirements.txt
  - pip install -e .

script:
  - pytest  -v --cov obsplus && pytest --nbval docs/*

after_success:
  - coveralls

notifications:
   email: false
