name: release
on:
  release:
    types:
      - published

jobs:
  update_gh_pages:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # need this so tags are pulled and versions work

      - name: Install obsplus
        uses: ./.github/actions/install-obsplus
        with:
          python-version: "3.14"

      - name: git config
        shell: bash -l {0}
        run: |
          git config --global user.email "donotemailme@example.com"
          git config --global user.name "GithubActions"

      - name: build docs
        shell: bash -l {0}
        run: |
          python scripts/stage_docs.py --remove-dirty

      - name: push
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          force: true
          directory: ../obsplus_documentation

  publish_package:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # need this so tags are pulled and versions work

      - name: Install obsplus
        uses: ./.github/actions/install-obsplus
        with:
          python-version: "3.14"

      - name: create dists
        shell: bash -l {0}
        run: |
          python -m pip install build
          python -m build

      - name: publish package to pypi
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_TOKEN }}
