name: validate
on: [push]

jobs:
  # Simply applies flake8 to the codebase
  lint_code:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Setup conda
        uses: s-weigand/setup-conda@v1
        with:
          python-version: 3.7

      - name: install linting packages
        run: pip install -r tests/requirements.txt

      - name: flake8
        run: flake8 .

  # Runs the tests on combinations of the supported python/os matrix.
  test_code:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python_version: [3.7, 3.6]

    steps:
      - uses: actions/checkout@v1

      - name: Setup conda
        uses: goanpeca/setup-miniconda@v1
        with:
          miniconda-version: 'latest'
          python-version: ${{ matrix.python_version }}
          activate-environment: test
          environment-file: .github/test_conda_env.yml
          condarc-file: .github/test_condarc.yml

      - name: install obsplus
        shell: bash -l {0}
        run: |
          pip install -e .[dev]

      - name: print package info
        shell: bash -l {0}
        run: |
          conda info -a
          conda list

      - name: download test data
        shell: bash -l {0}
        run: |
          if [ ! -d ~/opsdata ]; then
            git clone https://github.com/d-chambers/opsdata_test
            mv opsdata_test ~/opsdata
          fi

      # Runs test suite and calculates coverage
      - name: run test suite
        shell: bash -l {0}
        run: |
          pytest -s --cov obsplus --cov-append --cov-report=xml

      # Runs examples in docstrings
      - name: test docstrings
        shell: bash -l {0}
        run: |
          pytest obsplus --doctest-modules

      # Runs the documentation notebooks
      - name: test notebook docs
        shell: bash -l {0}
        run: |
          pytest docs --nbval

      # upload coverage
      - name: upload coverage
        uses: codecov/codecov-action@v1
        if: ${{ matrix.python-version }} == 3.7 && ${{ matrix.os }} == ubuntu-latest
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          flags: unittests
          name: codecov-umbrella
          yml: ./codecov.yml
          fail_ci_if_error: false

